# Build results
# Build results
#[Dd]ebug/
#[Dd]ebugPublic/
#[Rr]elease/
#[Rr]eleases/
#x64/
#x86/
#bld/
#[Bb]in/
#[Oo]bj/
#[Ll]og/

App/appFacturacion/appFacturacion/bin
App/appFacturacion/appFacturacion/obj

App/appFacturacion/Sadara.Models.V1/bin
App/appFacturacion/Sadara.Models.V1/obj

App/appFacturacion/Sadara.Models.V2/bin
App/appFacturacion/Sadara.Models.V2/obj

App/appFacturacion/Sadara.Views.WinFormApp.V2/bin
App/appFacturacion/Sadara.Views.WinFormApp.V2/obj

App/appFacturacion/packages
