<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="NLog" version="4.5.4" targetFramework="net45" />
  <package id="System.Interactive" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net45" />
</packages>