USE [dbFacturacion_06-09-2016]
GO
/****** Object:  StoredProcedure [dbo].[SpProductosVendidos]    Script Date: 11/28/2016 10:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MICHEL ROBERTO TRAÑA TABLADA
-- Create date: 12/07/2016
-- Description:	ESTE PROCEDIMIENTO ALMACENADO PERMITE SELECCIONAR EL LISTADO DE PRODUCTOS VENDIDOS EN UN RANGO DE TIEMPO
-- =============================================
ALTER PROCEDURE [dbo].[SpProductosVendidos]
	-- Add the parameters for the stored procedure here
@Inicio AS DATETIME,
@Final AS DATETIME,
@IDBodega AS VARCHAR(36),
@IDSerie AS VARCHAR(36),
@NEmpleado AS VARCHAR(50),
@Empleado AS VARCHAR(100),
@NCliente AS VARCHAR(50),
@Cliente AS VARCHAR(100),
@TipoVenta AS INTEGER,
@MonInv AS Bit,
@Taza AS DECIMAL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--DECLARAR VARIABLES DE TAZA DE CAMBIO
	DECLARE @TazaCordoba AS DECIMAL(18,4)
	DECLARE @TazaDolar AS DECIMAL(18,4)
	IF @MonInv = 1
		BEGIN
			SET @TazaCordoba = 1
			SET @TazaDolar = @Taza
		END
	ELSE
		BEGIN
			SET @TazaDolar = 1
			SET @TazaCordoba = @Taza
		END
	-- 1. SELECCIONAR TODOS LOS DATOS
	IF @TipoVenta <> 1 AND @TipoVenta <> 2
	BEGIN
		(SELECT 
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) / SUM(DETALLE_VENTA.CANTIDAD) AS CostoPromedio,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) / SUM(DETALLE_VENTA.CANTIDAD) AS PrecioPromedio,
			SUM(DETALLE_VENTA.CANTIDAD) AS Cantidad,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) AS Costo_Total,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.DESCUENTO_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.DESCUENTO_DIN_TOTAL_D * @TazaDolar END) AS Descuento,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) AS SubTotal,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.IVA_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.IVA_DIN_TOTAL_D * @TazaDolar END) AS Iva,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.TOTAL_D * @TazaDolar END) AS Total,
			SUM((CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) - (DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD)) AS Utilidad
		FROM
			PRODUCTO
			INNER JOIN EXISTENCIA ON PRODUCTO.IDPRODUCTO = EXISTENCIA.IDPRODUCTO
			INNER JOIN DETALLE_VENTA ON EXISTENCIA.IDEXISTENCIA = DETALLE_VENTA.IDEXISTENCIA
			INNER JOIN VENTA ON DETALLE_VENTA.IDVENTA = VENTA.IDVENTA
			INNER JOIN EMPLEADO ON VENTA.IDEMPLEADO = EMPLEADO.IDEMPLEADO
			INNER JOIN CLIENTE ON VENTA.IDCLIENTE = CLIENTE.IDCLIENTE
			INNER JOIN SERIE ON VENTA.IDSERIE = SERIE.IDSERIE
			INNER JOIN BODEGA ON SERIE.IDBODEGA = BODEGA.IDBODEGA
		WHERE
			VENTA.ANULADO = 'N'
			AND VENTA.FECHAFACTURA >= @INICIO
			AND VENTA.FECHAFACTURA <= @FINAL
			AND BODEGA.IDBODEGA LIKE (@IDBODEGA + '%')
			AND SERIE.IDSERIE LIKE (@IDSERIE + '%')
			AND EMPLEADO.N_TRABAJADOR LIKE (@NEmpleado + '%')
			AND (EMPLEADO.NOMBRES + ' ' + EMPLEADO.APELLIDOS) LIKE (@Empleado + '%')
			AND CLIENTE.N_CLIENTE LIKE (@NCliente + '%')
			AND (CLIENTE.NOMBRES + ' ' + CLIENTE.APELLIDOS) LIKE (@Cliente + '%')
		GROUP BY
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION
		HAVING
			SUM(DETALLE_VENTA.CANTIDAD) > 0
		)
	UNION
		(SELECT 
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) / SUM(DETALLE_VENTA.CANTIDAD) AS CostoPromedio,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) / SUM(DETALLE_VENTA.CANTIDAD) AS PrecioPromedio,
			SUM(DETALLE_VENTA.CANTIDAD) AS Cantidad,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) AS Costo_Total,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.DESCUENTO_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.DESCUENTO_DIN_TOTAL_D * @TazaDolar END) AS Descuento,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) AS SubTotal,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.IVA_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.IVA_DIN_TOTAL_D * @TazaDolar END) AS Iva,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.TOTAL_D * @TazaDolar END) AS Total,
			SUM((CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) - (DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD)) AS Utilidad
		FROM
			PRODUCTO
			INNER JOIN EXISTENCIA ON PRODUCTO.IDPRODUCTO = EXISTENCIA.IDPRODUCTO
			INNER JOIN DETALLE_VENTA ON EXISTENCIA.IDEXISTENCIA = DETALLE_VENTA.IDEXISTENCIA
			INNER JOIN VENTA ON DETALLE_VENTA.IDVENTA = VENTA.IDVENTA
			INNER JOIN EMPLEADO ON VENTA.IDEMPLEADO = EMPLEADO.IDEMPLEADO
			INNER JOIN SERIE ON VENTA.IDSERIE = SERIE.IDSERIE
			INNER JOIN BODEGA ON SERIE.IDBODEGA = BODEGA.IDBODEGA
		WHERE
			VENTA.ANULADO = 'N'
			AND VENTA.IDCLIENTE IS NULL
			AND VENTA.FECHAFACTURA >= @INICIO
			AND VENTA.FECHAFACTURA <= @FINAL
			AND BODEGA.IDBODEGA LIKE (@IDBODEGA + '%')
			AND SERIE.IDSERIE LIKE (@IDSERIE + '%')
			AND EMPLEADO.N_TRABAJADOR LIKE (@NEmpleado + '%')
			AND (EMPLEADO.NOMBRES + ' ' + EMPLEADO.APELLIDOS) LIKE (@Empleado + '%')
			AND RTRIM(@NCliente) = ('')
			AND (VENTA.CLIENTECONTADO) LIKE (@Cliente + '%')
		GROUP BY
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION
		HAVING
			SUM(DETALLE_VENTA.CANTIDAD) > 0
		)
	END






	--2. SELECCIONAR VENTAS DE CONTADO
	IF @TipoVenta = 1
	BEGIN
		(SELECT 
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) / SUM(DETALLE_VENTA.CANTIDAD) AS CostoPromedio,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) / SUM(DETALLE_VENTA.CANTIDAD) AS PrecioPromedio,
			SUM(DETALLE_VENTA.CANTIDAD) AS Cantidad,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) AS Costo_Total,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.DESCUENTO_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.DESCUENTO_DIN_TOTAL_D * @TazaDolar END) AS Descuento,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) AS SubTotal,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.IVA_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.IVA_DIN_TOTAL_D * @TazaDolar END) AS Iva,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.TOTAL_D * @TazaDolar END) AS Total,
			SUM((CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) - (DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD)) AS Utilidad
		FROM
			PRODUCTO
			INNER JOIN EXISTENCIA ON PRODUCTO.IDPRODUCTO = EXISTENCIA.IDPRODUCTO
			INNER JOIN DETALLE_VENTA ON EXISTENCIA.IDEXISTENCIA = DETALLE_VENTA.IDEXISTENCIA
			INNER JOIN VENTA ON DETALLE_VENTA.IDVENTA = VENTA.IDVENTA
			INNER JOIN EMPLEADO ON VENTA.IDEMPLEADO = EMPLEADO.IDEMPLEADO
			INNER JOIN CLIENTE ON VENTA.IDCLIENTE = CLIENTE.IDCLIENTE
			INNER JOIN SERIE ON VENTA.IDSERIE = SERIE.IDSERIE
			INNER JOIN BODEGA ON SERIE.IDBODEGA = BODEGA.IDBODEGA
		WHERE
			VENTA.ANULADO = 'N'
			AND VENTA.FECHAFACTURA >= @INICIO
			AND VENTA.FECHAFACTURA <= @FINAL
			AND BODEGA.IDBODEGA LIKE (@IDBODEGA + '%')
			AND SERIE.IDSERIE LIKE (@IDSERIE + '%')
			AND EMPLEADO.N_TRABAJADOR LIKE (@NEmpleado + '%')
			AND (EMPLEADO.NOMBRES + ' ' + EMPLEADO.APELLIDOS) LIKE (@Empleado + '%')
			AND CLIENTE.N_CLIENTE LIKE (@NCliente + '%')
			AND (CLIENTE.NOMBRES + ' ' + CLIENTE.APELLIDOS) LIKE (@Cliente + '%')
			AND VENTA.CREDITO = 0
		GROUP BY
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION
		HAVING
			SUM(DETALLE_VENTA.CANTIDAD) > 0
		)
	UNION
		(SELECT 
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) / SUM(DETALLE_VENTA.CANTIDAD) AS CostoPromedio,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) / SUM(DETALLE_VENTA.CANTIDAD) AS PrecioPromedio,
			SUM(DETALLE_VENTA.CANTIDAD) AS Cantidad,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) AS Costo_Total,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.DESCUENTO_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.DESCUENTO_DIN_TOTAL_D * @TazaDolar END) AS Descuento,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) AS SubTotal,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.IVA_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.IVA_DIN_TOTAL_D * @TazaDolar END) AS Iva,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.TOTAL_D * @TazaDolar END) AS Total,
			SUM((CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) - (DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD)) AS Utilidad
		FROM
			PRODUCTO
			INNER JOIN EXISTENCIA ON PRODUCTO.IDPRODUCTO = EXISTENCIA.IDPRODUCTO
			INNER JOIN DETALLE_VENTA ON EXISTENCIA.IDEXISTENCIA = DETALLE_VENTA.IDEXISTENCIA
			INNER JOIN VENTA ON DETALLE_VENTA.IDVENTA = VENTA.IDVENTA
			INNER JOIN EMPLEADO ON VENTA.IDEMPLEADO = EMPLEADO.IDEMPLEADO
			INNER JOIN SERIE ON VENTA.IDSERIE = SERIE.IDSERIE
			INNER JOIN BODEGA ON SERIE.IDBODEGA = BODEGA.IDBODEGA
		WHERE
			VENTA.ANULADO = 'N'
			AND VENTA.IDCLIENTE IS NULL
			AND VENTA.FECHAFACTURA >= @INICIO
			AND VENTA.FECHAFACTURA <= @FINAL
			AND BODEGA.IDBODEGA LIKE (@IDBODEGA + '%')
			AND SERIE.IDSERIE LIKE (@IDSERIE + '%')
			AND EMPLEADO.N_TRABAJADOR LIKE (@NEmpleado + '%')
			AND (EMPLEADO.NOMBRES + ' ' + EMPLEADO.APELLIDOS) LIKE (@Empleado + '%')
			AND RTRIM(@NCliente) = ('')
			AND (VENTA.CLIENTECONTADO) LIKE (@Cliente + '%')
			AND VENTA.CREDITO = 0
		GROUP BY
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION
		HAVING
			SUM(DETALLE_VENTA.CANTIDAD) > 0
		)
	END






	--3. SELECCIONAR VENTAS DE CREDITO
	IF @TipoVenta = 2
	BEGIN
		(SELECT 
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) / SUM(DETALLE_VENTA.CANTIDAD) AS CostoPromedio,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) / SUM(DETALLE_VENTA.CANTIDAD) AS PrecioPromedio,
			SUM(DETALLE_VENTA.CANTIDAD) AS Cantidad,
			SUM(DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD) AS Costo_Total,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.DESCUENTO_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.DESCUENTO_DIN_TOTAL_D * @TazaDolar END) AS Descuento,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) AS SubTotal,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.IVA_DIN_TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.IVA_DIN_TOTAL_D * @TazaDolar END) AS Iva,
			SUM(CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.TOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.TOTAL_D * @TazaDolar END) AS Total,
			SUM((CASE VENTA.MONEDA WHEN 'C' THEN DETALLE_VENTA.SUBTOTAL_C / @TazaCordoba ELSE DETALLE_VENTA.SUBTOTAL_D * @TazaDolar END) - (DETALLE_VENTA.COSTO * DETALLE_VENTA.CANTIDAD)) AS Utilidad
		FROM
			PRODUCTO
			INNER JOIN EXISTENCIA ON PRODUCTO.IDPRODUCTO = EXISTENCIA.IDPRODUCTO
			INNER JOIN DETALLE_VENTA ON EXISTENCIA.IDEXISTENCIA = DETALLE_VENTA.IDEXISTENCIA
			INNER JOIN VENTA ON DETALLE_VENTA.IDVENTA = VENTA.IDVENTA
			INNER JOIN EMPLEADO ON VENTA.IDEMPLEADO = EMPLEADO.IDEMPLEADO
			INNER JOIN CLIENTE ON VENTA.IDCLIENTE = CLIENTE.IDCLIENTE
			INNER JOIN SERIE ON VENTA.IDSERIE = SERIE.IDSERIE
			INNER JOIN BODEGA ON SERIE.IDBODEGA = BODEGA.IDBODEGA
		WHERE
			VENTA.ANULADO = 'N'
			AND VENTA.FECHAFACTURA >= @INICIO
			AND VENTA.FECHAFACTURA <= @FINAL
			AND BODEGA.IDBODEGA LIKE (@IDBODEGA + '%')
			AND SERIE.IDSERIE LIKE (@IDSERIE + '%')
			AND EMPLEADO.N_TRABAJADOR LIKE (@NEmpleado + '%')
			AND (EMPLEADO.NOMBRES + ' ' + EMPLEADO.APELLIDOS) LIKE (@Empleado + '%')
			AND CLIENTE.N_CLIENTE LIKE (@NCliente + '%')
			AND (CLIENTE.NOMBRES + ' ' + CLIENTE.APELLIDOS) LIKE (@Cliente + '%')
			AND VENTA.CREDITO = 1
		GROUP BY
			PRODUCTO.IDALTERNO,
			PRODUCTO.DESCRIPCION
		HAVING
			SUM(DETALLE_VENTA.CANTIDAD) > 0
		)
	END
	--FIN DEL STATEMENT


END
